# Breast Cancer SVM Classification

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [26]:
c = ['menopaus','agegrp', 'density', 'race', 'Hispanic','bmi', 'agefirst', 'nrelbc', 'brstproc', 'lastmamm', 'surgmeno', 'hrt', 'invasive', 'cancer', 'training', 'count']
data = pd.read_fwf('risk_rand.txt', delimiter = ' ', names = c)

In [27]:
data

,menopaus,agegrp,density,race,Hispanic,bmi,agefirst,nrelbc,brstproc,lastmamm,surgmeno,hrt,invasive,cancer,training,count
0,0,1,1,1,0,1,0,0,0,0,9,9,0,0,1,3
1,0,1,1,1,0,1,0,0,0,9,9,9,0,0,0,2
2,0,1,1,1,0,1,0,0,0,9,9,9,0,0,1,3
3,0,1,1,1,0,1,1,0,0,0,9,9,0,0,1,1
4,0,1,1,1,0,1,1,0,1,9,9,9,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181898,9,4,9,9,9,9,9,9,9,1,9,9,0,0,1,31
181899,9,4,9,9,9,9,9,9,9,9,9,9,0,0,0,54
181900,9,4,9,9,9,9,9,9,9,9,9,9,0,0,1,93
181901,9,4,9,9,9,9,9,9,9,9,9,9,1,1,0,1
181902,9,4,9,9,9,9,9,9,9,9,9,9,1,1,1,3